body {
  background-image: url('../images/home_hero2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}
nav {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid white;
  .nav-left {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      width: 75%;
      // margin: 10%;
    }
  }
  .nav-right {
    width: 75%;
    .menu {
      list-style: none;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 100;
      color:white;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
      a {
        margin:2%;
      }
    }
  }
}
.nav-2 {
  display: flex;
  margin: 3%;
}
.logo-2 {
  display:none;
  justify-content: flex-start;
  img {
    width: 20%;
    height: 100%;
  }
}
.menu-icon {
  display:none;
  justify-content: flex-end;
  img {
    width: 25%;
    height: 100%;
  }
}

.date {
  font-family: 'Raleway';
  font-size: 2em;
  font-weight: 100;
  color:white;
  text-align: center;
}

@media (max-width:900px) {
  nav {
    display:none;
  }
  .menu-icon {
    display:flex;
  }
  .logo-2 {
    display: flex;
  }
}
