.hero {
  background-image: url('../images/home_hero3.png');
  background-repeat: no-repeat;
  background-size: 100%;
  overflow:hidden;
}

a:hover {
  text-decoration: underline;
}
.main-nav {
  // position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid white;
  .nav-left {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      width: 75%;
      padding-left: 25px;
    }
  }
  .nav-right {
    width: 75%;
    .menu {
      list-style: none;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 100;
      color:white;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
      a {
        margin:2%;
        text-decoration: none;
        color: white;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
.scroll-nav {
  background-color: white;
  display: none;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: space-around;
  .nav-left {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      width: 75%;
    }
  }
  .nav-right {
    width: 75%;
    .menu {
      list-style: none;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 100;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
      a {
        margin:2%;
        text-decoration: none;
        color: black;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
.nav-left-2 {
  display: flex;
  margin: 3%;
}
.logo-2 {
  display:none;
  justify-content: flex-start;
  img {
    width: 50%;
    height: 90%;
  }
}
.nav-right-2 {
  display:none;
  justify-content: flex-end;
  img {
    width: 40%;
    height: 80%;
  }
}

.date {
  font-family: 'Raleway';
  font-size: 4em;
  font-weight: 100;
  color:white;
  text-align: center;
  margin-top: 10%;
  padding-bottom: 35%;
}

@media (max-width:900px) {
  .hero {
    background-size: 200%;
    background-position: top center;
  }
  .main-nav {
    display:none;
  }
  .nav-right-2 {
    display:flex;
  }
  .logo-2 {
    display: flex;
  }
  .date {
    font-size: 2em;
    margin-top: 20%;
    font-weight: 200;
    padding-bottom: 75%;
  }
}

.test {
  height: 100px;
}
