body {
  background-image: url('../images/home_hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  text-decoration: none;
  color: white;
}
nav {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid white;

  .nav-left {
    width: 50%;
    .logo {
      width: 50%;
      margin: 3%;
    }
  }
  .nav-right {
    width: 50%;
    .menu {
      list-style: none;
      font-family: 'brandon-grotesque' 'sans-serif';
      font-style: normal;
      font-weight: 300;
      color:white;
      display: flex;
      justify-content: space-around;
      margin: 5%;
    }
  }
}
